/*版心样式*/
.wrapper{
    margin: 0 auto;
    width: 1080px;
}
/*导航栏 通栏样式*/
.shortcut {
    height: 120px;
    background-color: #ff9797cb;
}
/*导航栏版心元素靠左右*/
.shortcut .wrapper {
    display: flex;
    justify-content: space-between; /* 将子元素分别靠左和靠右对齐 */
}
/*logo及平台名称靠左*/
.shortcut .wrapper .former {
    display: flex;
    justify-content: flex-start;
    height: 120px;
}
/*logo高度*/
.shortcut .wrapper .former u2 {
    display: flex;
    line-height: 120px;
}
/*logo*/
.shortcut .former li a {
    display: block;
    width: 56px;
    height: 56px;
    background-image: url(../images/logo.png);
    font-size: 0;
}
/*平台名称*/
.shortcut .former li b{
    padding: 0 8px;
    font-size: 55px;
    color: #1b1b1b;
}
/*导航栏右边字体开始*/
.shortcut .wrapper .back {
    display: flex;
    justify-content: flex-end;
    height: 120px;
    /*background-color: #ffdf9b;*/
}

.shortcut .wrapper .back ul {
    display: flex;
    line-height: 120px;
}

.shortcut .back li a {
    padding: 0 15px;
    border-right: #cb8282 1px solid;
    font-size: 26px;
    color: #b00000;
}

.shortcut .back li:last-child a {
    border-right: none;
}
/*导航栏右边字体结束*/

/*首页行*/
.middle {
    height: 120px;
}

.middle .wrapper {
    display: flex;
    justify-content: flex-start; /* 将子元素分别靠左和靠右对齐 */
}

.middle .wrapper  {
    display: flex;
    justify-content: flex-start;
    height: 120px;
    /*background-color: #ffdf9b;*/
}

.middle .wrapper ul {
    display: flex;
    line-height: 120px;
}

.middle li a {
    padding: 0 18.8px;
    font-size: 38px;
    color: #7d0202;
}